body {
  /* background: url("../images/just-waves.png"); */
  /* background: url("../images/green_dust_scratch.png"); */
  background: url("../images/light-grey-terrazzo.png");
}

h1 {
  height: 50px;
  width: 100%;
  font-size: xx-large;
  background-color: lightseagreen;
  color: lightgoldenrodyellow;
  text-align: center;
  padding-top: 17px;
  margin-bottom: 10px;
  margin-left: 10px;
}

h2 {
  text-align: center;
  font-size: x-large;
  padding-top: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#rules-of-the-game {
  /* height: 200px;
  width: 50%; */

  width: 500px;
  height: 350px;
  text-align: center;
  font-size: smaller;
  line-height: 3;
  background-color: #eeeeee;
  color: darkslategray;
  border: solid 2px lightgrey;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* #scoreboard
#random-num-display
#win-loss-display
#crystals
#your-score-header
#score-count */

#scoreboard {
  overflow: auto;
}

#scoreboard div {
  float: left;
  /* background-color: lightskyblue */
}

#random-num-display {
  height: 100px;
  width: 150px;
  background-color: lightseagreen;
  color: lightgoldenrodyellow;
  font-size: x-large;
  text-align: center;
  border: solid 1px lightgrey;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#win-loss-display {
  height: 100px;
  width: 75px;
  padding: 10px;
  background-color: lightseagreen;
  color: lightgoldenrodyellow;
  border: solid 1px lightgrey;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* #wins-total,
#losses-total {

  height: 100px;
  width: 75px;
  padding: 10px;
  background-color: paleturquoise;
  color: darkslategray;
  margin-bottom: 10px;
  margin-left: 10px;

} */

img {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}

#crystals-display {
  /* display: inline; */
}

#your-score-header {
  height: 20px;
  width: 300px;
  background-color: turquoise;
  color: indigo;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  border: solid 1px lightgrey;
  /* display: inline; */
}

#score-count {
  height: 100px;
  width: 320px;
  background-color: turquoise;
  color: white;
  font-size: xx-large;
  text-align: center;
  padding-top: 55px;
  color: indigo;
  border: solid 1px lightgrey;
  margin-bottom: 40px;
  margin-left: 10px;
  /* display: inline; */
}
